:root {
  --clr-text-primary: #333;
  --clr-text-secondary: #bdbdbd;
  --clr-accent: #f2994a;

  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Playfair Display", serif;
}

/*Box sizing rules*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--ff-body);
}
main {
  flex: 1;
  max-width: 1440px;
  margin: auto;
}
ul,
ol {
  list-style: none;
}
li {
  line-height: 1.25;
  margin: 1rem 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/************************** 
  ITEM RECIPE DESCRIPTION 
***************************/
.recipe__title {
  text-align: left;
}
.recipe__description {
  margin: 1.2rem 0;
  display: flex;
}
.recipe__icon {
  width: 28px;
  margin-right: 1rem;
}
.recipe__text {
  font-style: italic;
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
}
.recipe__photo img {
  margin: 2.4rem 0;
  border-radius: 12px;
}

/***********************************  
  ITEM timers WITH INGREDIENTS LISTS
************************************/
.timers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0 3rem;
}
.timers__list li:nth-child(1) {
  grid-column: 1 / 4;
}
.timers__list li {
  display: flex;
  gap: 0.5em;
  margin: 1.2rem 0;
}
.timers__list li figure {
  width: 20px;
  height: 20px;
}
.timers__list li div span {
  display: block;
}
.timers__list li div span:nth-child(1) {
  font-size: clamp(0.8rem, calc(0.8rem + ((1vw - 0.32rem) * 0.1912)), 1rem);
  font-weight: var(--font-weight-bolder);
  text-transform: uppercase;
  color: var(--clr-gray-4);
}
.timers__list li div span:nth-child(2) {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.3824)), 1.4rem);
}
.timers__list li:nth-child(1) div span:nth-child(2) {
  color: var(--clr-orange);
}
/* Ingredients */
.ingredients__list:nth-child(2) {
  margin-bottom: 4rem;
}
.ingredients__list {
  border: none;
}
.ingredients__list legend {
  margin: 4rem 0 3rem;
  font-size: var(--font-size-h3);
  font-style: italic;
}
.ingredients__list div {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1em;
  align-items: baseline;
}
.ingredients__list div label {
  font-size: var(--font-size-input-text);
  line-height: 1.7;
}
.dark-bold {
  font-weight: var(--font-weight-bolder);
  color: var(--clr-black);
}
/***********************************   
  ITEM INSTRUCTIONS
************************************/
.grid-item:nth-child(3) {
  margin-top: 2rem;
}
.instructions__list {
  display: grid;
  gap: 1.5em;
  counter-reset: orderedlist;
}
.instructions__list li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 1em;
}
.instructions__list li p {
  line-height: 1.7;
}
.instructions__list li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  padding: 0.5em 0.8em;
  font-family: var(--ff-secondary);
  font-weight: var(--font-weight-bolder);
  background-color: var(--clr-orange);
  color: white;
  border-radius: 4px;
}
.instructions__list li p {
  font-size: var(--font-size-input-text);
}
/********************************** 
  ITEM SOURCE RECIPE  
***********************************/
.grid-item:nth-child(4) {
  margin-top: 3rem;
  width: 100%;
}
.recipe__source {
  font-size: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 0.3824)), 1.6rem);
  font-style: italic;
}
.recipe__source span {
  display: block;
  color: var(--clr-gray-4);
}
.recipe__source a {
  text-decoration: none;
  color: var(--clr-gray-4);
}

/******************************* 
  FOOTER
********************************/
.footer {
  padding: 2rem;
  text-align: center;
}
.footer__attribution {
  color: #828282;
}

/********************************
 MEDIA QUERIES 
*********************************/
@media screen and (min-width: 767px) {
  .recipe__source span {
    display: inline;
  }
}
